<div class="flex-container">
    <div class="inner-flex-container col-sm-6 col-lg-10">
        <div class="home-carousel-container">
            <app-home-carousel></app-home-carousel>
        </div>
        <div class="content-container">
            <app-carousel-section [carouselHeading]="headings[6]" [category]="this.categories[2]" [type]="this.types[3]"></app-carousel-section>
        </div>
        <div class="content-container">
            <app-carousel-section [carouselHeading]="headings[0]" [category]="this.categories[0]" [type]="this.types[0]"></app-carousel-section>
        </div>
        <div class="content-container">
            <app-carousel-section [carouselHeading]="headings[1]" [category]="categories[0]" [type]="types[1]"></app-carousel-section>
        </div>
        <div class="content-container">
            <app-carousel-section [carouselHeading]="headings[2]" [category]="categories[0]" [type]="types[2]"></app-carousel-section>
        </div>
        <div class="content-container">
            <app-carousel-section [carouselHeading]="headings[3]" [category]="categories[1]" [type]="types[0]"></app-carousel-section>
        </div>
        <div class="content-container">
            <app-carousel-section [carouselHeading]="headings[4]" [category]="categories[1]" [type]="types[1]"></app-carousel-section>
        </div>
        <div class="content-container">
            <app-carousel-section [carouselHeading]="headings[5]" [category]="categories[1]" [type]="types[2]"></app-carousel-section>
        </div>
    </div>
</div>
