.card
{
    width: 200px;
    border-radius: 15px;
    border: none;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.card:hover
{
    cursor: pointer;
}

.card-body
{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

h5, p
{
    margin-bottom: 0px;
}

.card-img-top
{
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}